.account__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
}
.account__info-text{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
letter-spacing: 0.02em;
margin: 24px 0 7px;

color: #000000;
}

.account__non{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin: 50px 0;
}
.account__non-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid black;
    background-color: #6E9C9F;
    padding: 5px 10px;

    color: #000000;
}