.create__color{
    position: relative;
}

.create__color::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '+';
    font-size: 30px;
    color: cadetblue;
}

.create__size-active{
    background-color: black;
    color: white;
}

.create__form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    border: 1px solid gray ;
    padding: 2%;
 
}
.create__form-block{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  
}
