*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
a,ul,li{
    text-decoration: none;
    list-style: none;
    color: inherit
}

.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.title{
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 26px;
}

@import "./Layout/Header/header.scss";
@import "./Layout/Footer/footer.scss";
@import "./page/Home/home.scss";
@import "./page/Shop/shop.scss";
@import "./page/Product/product.scss";
@import "./page/Account/account.scss";
@import "./page/Cart/cart.scss";
@import "./page/checkout/checkout.scss";
@import "./page/CreateProduct/createProduct.scss";

@import "./page/Login/login.scss";
@import "./page/Register/register.scss";